.container {
    border: none;
    border-radius: 10px;
    box-shadow: none;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.col {
    flex: 1;
    padding: 10px;
    display: flex;
    justify-content: center; /* Alineación horizontal centrada */
    align-items: center; /* Alineación vertical centrada */
}

.col:first-child {
    flex: 0.5; /* Ajusta el ancho del primer elemento (ID) */
}

.btn {
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    margin-left: 2%;
}

.btn-excel {
    background-color: #199915;
    color: #fff;
    margin-left: 2%;
    border: #0f6b0c;
    transition: transform 0.3s ease-in-out; /* Agrega esta línea */
}

.btn-excel:hover {
    background-color: transparent;
    color: green;
    transform: scale(1.2); /* Agrega esta línea */
}
.btn.btn-excel.no-outline:focus, .btn.btn-excel.no-outline:active {
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent !important; 
    border-color: transparent;/* Este es el color de fondo predeterminado para .btn-primary en Bootstrap. Ajusta según sea necesario. */
}

.btn-info {
    background-color: #17a2b8;
    color: #fff;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.filtro-categoria {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espacio entre el combo box y el botón Nuevo */
}

.filtro-categoria select {
    margin-right: 10px; /* Espacio entre el combo box y el botón Nuevo */
}

.img {
    width: 100%;
}

/* ButtonStyles.css */
.btn-primary-custom {
    background-color: transparent;
    border-color: transparent;
    font-size: 50px;

    transition: transform 0.3s ease-in-out; /* Agrega esta línea */

    /* Agrega aquí las propiedades que desees */
}

.btn-primary-custom:hover {
    background-color: transparent;
    color: white;
    border-color: transparent;
    transform: scale(1.2); 
}

.mi-dropdown .dropdown-toggle {
    /* Estilos para el botón que muestra el menú desplegable */
    background-color: #171212;
    color: white;
    border-color: none;
}

.btn.btn-primary.no-outline:focus, .btn.btn-primary.no-outline:active {
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent !important; 
    border-color: transparent;/* Este es el color de fondo predeterminado para .btn-primary en Bootstrap. Ajusta según sea necesario. */
}