.home-container {
  text-align: center;
  margin-top: -50px;
}

.home-container h2 {
  font-size: 50px;
  font-family: monospace;
  font-weight: bold;
}

.home-container p {
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: 15px;
}


  